<!Doctype html>
<html>
<head>
       <!-- Meta Tags -->
      <meta charset="UTF-8">
      <meta name="description" content="E-commerce Website">
      <meta name="keywords" content="Birdi, Furniture, E-commorece, online">
      <meta name="author" content="Jatinder Singh">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>birdiFurniture</title>
        
        
        <!-- Style File of CSS -->
        <link rel="stylesheet" href="style.css">
        
        <!-- JavaScript File -->
        <script src="script.js"></script>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        
        
        
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        
        
    </head>
<body>
    <script>
      AOS.init();
    </script>


    <div id="fullpage">
      <section>
          <div>
              <div class="space-around">
                  <!-- Navbar Goes here -->
                  <div class="navbar">
                      <button> HOME </button>
                      <button> ABOUT US </button>
                      <button> CONTACT </button>
                  </div>
                  <div class="navbar"> LOGO </div>
                  <div class="navbar">
                      <button> CATEGORIES</button>
                      <button> OFFERS</button>
                  </div>
              </div>
              <div class="p-5">
                  <!-- Jumbtron Goes Here -->
                  <img src="http://pngriver.com/wp-content/uploads/2018/04/Download-Furniture-Free-Download-PNG.png" class="img-fluid w-50">
              </div>
          </div>
          
    
    
      </section>